@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-dark-green: #072932;
  --color-tan: #FFEBD8;
  --color-bright-green: #1CFAC5;
  --color-white: #FCFCFC;
  --color-grey: #6E6E73;
  --color-medium-green: #273D45;
  --color-light-green: #516369;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--color-grey);
  background-color: var(--color-white);
  font-family: var(--font-rethink-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-ballinger-mono);
}

.bg-primary {
  color: var(--color-bright-green);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
